extends ../layout
include ../mixin/item-list

block content
  header
    h1 DON'T FORGET
  div(class='items-list')
    ul
      +item-list({name: 'TESTE 1', id: 'item-1'})
      +item-list({name: 'TESTE 2', id: 'item-2'})
      +item-list({name: 'TESTE 3', id: 'item-3'})